In [1]:
import pandas as pd

In [2]:
avg_price_df = pd.read_csv("aggregated/avg_price.csv", encoding="utf-8")
hotel_detail_df = pd.read_csv("aggregated/hotels.csv", encoding="utf-8")

In [3]:
merged_hotel_df = pd.merge(avg_price_df, hotel_detail_df, how="inner", on="Hotel Name")
merged_hotel_df

,Hotel Name,Advertised Price,Total Price,city,address1,address2
0,1 Hotel Brooklyn Bridge,640.576923,672.538462,New York,1 Hotel Brooklyn Bridge,"Furman Street, New York, NY 11201, United Stat..."
1,1 Hotel Central Park,586.541667,575.083333,New York,1 Hotel Central Park,"1414 6th Avenue, New York, NY 10019, United St..."
2,Aliz Hotel Times Square,329.686275,416.176471,New York,Aliz Hotel Times Square,"310 West 40th Street, New York, NY 10018, Unit..."
3,Americana Inn,165.486486,208.081081,New York,Americana Inn,"69 West 38th Street, New York, NY 10018, Unite..."
4,Arlo NoMad,313.941176,392.215686,New York,Arlo NoMad,"11 East 31st Street, New York, NY 10016, Unite..."
...,...,...,...,...,...,...
86,Union Hotel,168.179487,198.923077,New York,Union Hotel,"611 Degraw Street, New York, NY 11217, United ..."
87,Walker Hotel Tribeca,406.750000,504.687500,New York,Walker Hotel Tribeca,"77 Walker Street, New York, NY 10013, United S..."
88,Washington Square Hotel,320.723404,371.893617,New York,Washington Square Hotel,"103 Waverly Place, New York, NY 10011, United ..."
89,Wyndham Garden Chinatown,283.300000,328.580000,New York,Wyndham Garden Chinatown,"93 Bowery, New York, NY 10002, United States o..."
90,citizenM New York Bowery,328.019608,379.921569,New York,citizenM New York Bowery,"189 Bowery, New York, NY 10002, United States ..."