**Requirements
For Project 3, you will work with your group to tell a story using data visualizations. Here are the specific requirements:

Your visualization must include a Python Flask-powered API, HTML/CSS, JavaScript, and at least one database (SQL, MongoDB, SQLite, etc.).

Your project should fall into one of the following three tracks:

A combination of web scraping and Leaflet or Plotly

A dashboard page with multiple charts that update from the same data

A server that performs multiple manipulations on data in a database prior to visualization (must be approved)

Your project should include at least one JS library that we did not cover.

Your project must be powered by a dataset with at least 100 records.

Your project must include some level of user-driven interaction (e.g., menus, dropdowns, textboxes).

Your final visualization should ideally include at least three views.

When working on an online group project, it’s crucial to meet with your group and communicate regularly. Plan for significant collaboration time outside of class. The following tips can help you make the most of your time:

Decide how you’re going to communicate with your group members when you begin. Create a Slack channel, exchange phone numbers, and ensure that the group knows each group member’s available working hours.

Set up an agile project by using GitHub ProjectsLinks to an external site. so that your group can track tasks.

Create internal milestones to ensure that your group is on track. Set due dates for these milestones so that you have a timeline for completing the project. Some of these milestones might include:

Project ideation

Data fetching/API integration

Data analysis

Testing

Creating documentation

Creating the presentation

In [214]:
 # Dependencies
import requests
import json
import pandas as pd
from config import geoapify_key
from splinter import Browser
from bs4 import BeautifulSoup as soup
from bs4 import BeautifulSoup
import re
import csv
from selenium import webdriver
import time
from urllib.parse import parse_qs
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options

In [215]:
browser = Browser('chrome')

In [216]:
url = 'https://www.expedia.com/Hotel-Search?HotelID=3016212&adults=2&children=&destination=New%20York%2C%20New%20York%2C%20United%20States%20of%20America&endDate=2023-08-28&gclid=CjwKCAjwpayjBhAnEiwA-7ena7JGaI1rwCkOUycQoEp0ICRA_jkQo7Qt2Wwm4iOrBE-_4GP68HEzBRoC6xIQAvD_BwE&latLong=&locale=en_US&mapBounds=&pwaDialog=&regionId=2621&semcid=US.UB.GOOGLE.PT-c-EN.HOTEL&semdtl=a115093754954.b1127871358663.g1kwd-42777028833.l1.e1c.m1CjwKCAjwpayjBhAnEiwA-7ena7JGaI1rwCkOUycQoEp0ICRA_jkQo7Qt2Wwm4iOrBE-_4GP68HEzBRoC6xIQAvD_BwE.r14d4f421864e74f5bf75be17391f1a3135e350e186a47a1456f6c4f1617a2988c.c10RNuppwrQ5tvtmka9Z9sWg.j19032180.k1.d1558118514604.h1e.i1.n1.o1.p1.q1.s1.t1.x1.f1.u1.v1.w1&siteid=1&sort=PRICE_LOW_TO_HIGH&startDate=2023-08-01&theme=&useRewards=false&userIntent='
browser.visit(url)

In [220]:
# Prompt the user to enter new start and end dates
new_start_date = input("Enter a new start date (YYYY-MM-DD): ")
new_end_date = input("Enter a new end date (YYYY-MM-DD): ")
updated_url = 'https://www.expedia.com/Hotel-Search?HotelID=3016212&adults=2&children=&destination=New%20York%2C%20New%20York%2C%20United%20States%20of%20America&endDate=2023-08-28&gclid=CjwKCAjwpayjBhAnEiwA-7ena7JGaI1rwCkOUycQoEp0ICRA_jkQo7Qt2Wwm4iOrBE-_4GP68HEzBRoC6xIQAvD_BwE&latLong=&locale=en_US&mapBounds=&pwaDialog=&regionId=2621&semcid=US.UB.GOOGLE.PT-c-EN.HOTEL&semdtl=a115093754954.b1127871358663.g1kwd-42777028833.l1.e1c.m1CjwKCAjwpayjBhAnEiwA-7ena7JGaI1rwCkOUycQoEp0ICRA_jkQo7Qt2Wwm4iOrBE-_4GP68HEzBRoC6xIQAvD_BwE.r14d4f421864e74f5bf75be17391f1a3135e350e186a47a1456f6c4f1617a2988c.c10RNuppwrQ5tvtmka9Z9sWg.j19032180.k1.d1558118514604.h1e.i1.n1.o1.p1.q1.s1.t1.x1.f1.u1.v1.w1&siteid=1&sort=PRICE_LOW_TO_HIGH&startDate=2023-08-01&theme=&useRewards=false&userIntent='
# Parse the URL query parameters
query_params = parse_qs(updated_url)
print("Please update the 'startDate' and 'endDate' query parameters.")
# Update the 'startDate' and 'endDate' query parameters with the new dates
query_params['startDate'] = [new_start_date]
query_params['endDate'] = [new_end_date]
# Reconstruct the updated URL
updated_url = url[:url.find('?')] + '?' + '&'.join(f"{k}={v[0]}" for k, v in query_params.items())
# Send a GET request to the updated URL
response = requests.get(updated_url)
# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')
hotel_names = []
hotel_prices = []
# Find and click the button
buttons = soup.find_all('button', class_='uitk-button uitk-button-medium uitk-button-secondary')
for button in buttons:
    if button.text == 'Load more':
        time.sleep(5)  # Wait for more content to load
        break
# Find the hotel prices
price_elements = soup.find_all('div', class_="uitk-text uitk-type-300 uitk-text-default-theme is-visually-hidden")
# name_element = soup.find_all('h4', class_="uitk-heading uitk-heading-5 overflow-wrap")
for price_element in price_elements:
    price = price_element.text.strip()
#     if price_element and name_element:
#         price = price_element.text.strip()
#         name = name_element.text.strip()
#         hotel_names.append(name)
#         hotel_prices.append(price)
#     print("Hotel:", name)
    print("Price:", price)
    print()

Enter a new start date (YYYY-MM-DD): 2023-10-01
Enter a new end date (YYYY-MM-DD): 2023-10-10
Please update the 'startDate' and 'endDate' query parameters.
Price: The price is $59

Price: The price is $63

Price: The price is $69

Price: The price is $71

Price: The price is $79

Price: The price is $79

Price: The price is $80

Price: The price is $81

Price: The price is $81

Price: The price is $82

Price: The price is $82

Price: The price is $83

Price: The price is $83

Price: The price is $84

Price: The price was $92

Price: The price is $85

Price: The price is $85

Price: The price is $85

Price: The price is $86

In [221]:
browser.quit()

In [222]:
# Set the geographical coordinates for NYC
latitude = 40.7128
longitude = -74.0060

# Set the parameters for the type of place
categories = "accommodation"

# Set the parameters for the type of search
bias = f"proximity:{longitude},{latitude}"


# set up a parameters dictionary
params = {
    "categories":categories,
    "limit":500,
    "bias":bias,
    "apiKey": geoapify_key    
}

# Set base URL
base_url = "https://api.geoapify.com/v2/places"
response=requests.get(base_url, params=params)
response_data = response.json()

In [223]:
print(response.url)

https://api.geoapify.com/v2/places?categories=accommodation&limit=500&bias=proximity%3A-74.006%2C40.7128&apiKey=be13e77afa4d4c778e3673d5943b0949

In [224]:
# Print the json (pretty printed)
# print(json.dumps(response_data, indent=4, sort_keys=True))

In [225]:
response_data['features'][0]['properties']

{'name': 'The Beekman, A Thompson Hotel',
 'country': 'United States',
 'country_code': 'us',
 'state': 'New York',
 'county': 'New York County',
 'city': 'New York',
 'postcode': '10038',
 'district': 'Manhattan Community Board 1',
 'suburb': 'Manhattan',
 'street': 'Nassau Street',
 'housenumber': '123',
 'lon': -74.0069365,
 'lat': 40.7110329,
 'state_code': 'NY',
 'formatted': 'The Beekman, A Thompson Hotel, 123 Nassau Street, New York, NY 10038, United States of America',
 'address_line1': 'The Beekman, A Thompson Hotel',
 'address_line2': '123 Nassau Street, New York, NY 10038, United States of America',
 'categories': ['accommodation', 'accommodation.hotel', 'internet_access'],
 'details': ['details', 'details.facilities'],
 'datasource': {'sourcename': 'openstreetmap',
  'attribution': '© OpenStreetMap contributors',
  'license': 'Open Database Licence',
  'url': 'https://www.openstreetmap.org/copyright',
  'raw': {'name': 'The Beekman, A Thompson Hotel',
   'brand': 'Thompson Hotels',
   'osm_id': 9095733851,
   'tourism': 'hotel',
   'osm_type': 'n',
   'addr:city': 'New York',
   'addr:state': 'NY',
   'addr:street': 'Nassau Street',
   'addr:postcode': 10038,
   'internet_access': 'wlan',
   'addr:housenumber': 123}},
 'distance': 212,
 'place_id': '518329caa5718052c059cbb54620035b4440f00103f9015be2251e0200000092031d546865204265656b6d616e2c20412054686f6d70736f6e20486f74656c'}

In [226]:
hotel_data = []
for feature in response_data['features']:
    # Use the get method to handle missing keys
    Hotel_Name = feature['properties'].get('name', None)
    city = feature['properties'].get('city', None)
    postcode = feature['properties'].get('postcode', None)
    housenumber = feature['properties'].get('housenumber', None)
    street = feature['properties'].get('street', None)
    state = feature['properties'].get('state', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    hotel_data.append([Hotel_Name, city, postcode, housenumber, street, state,  address2, longitude, latitude])

# Create a DataFrame from the extracted data
df = pd.DataFrame(hotel_data, columns=["Hotel Name", "city", "postcode", "housenumber", "street", "state","address2","longitude","latitude"])

# Display the DataFrame
print(df)

# Save the DataFrame to a CSV file
df.to_csv('./SQL_Tables/hotels.csv', index=False)
df.to_excel('hotels.xlsx', index=False)

                        Hotel Name       city postcode housenumber  \
0    The Beekman, A Thompson Hotel   New York    10038         123
1         Aloft Manhattan Downtown   New York    10038          49
2               Duane Street Hotel   New York    10013         182
3                 Millenium Hilton   New York    10013          55
4              The Frederick Hotel   New York    10007        None
..                             ...        ...      ...         ...
495                  The Vue Hotel   New York    11101       40-47
496                       Q4 hotel   New York    11101        None
497                      Courtyard   New York    11101       29-15
498                          EnVue  Weehawken    07086         550
499              Hilton Garden Inn   New York    11101       29-21

                      street       state  \
0              Nassau Street    New York
1                 Ann Street    New York
2               Duane Street    New York
3              Church Street    New York
4            Chambers Street    New York
..                       ...         ...
495              22nd Street    New York
496       Queens Plaza North    New York
497       Queens Plaza North    New York
498  Avenue at Port Imperial  New Jersey
499              41st Avenue    New York

                                              address2  longitude   latitude
0    123 Nassau Street, New York, NY 10038, United ... -74.006936  40.711033
1    49 Ann Street, New York, NY 10038, United Stat... -74.006653  40.710415
2    182 Duane Street, New York, NY 10013, United S... -74.007339  40.715988
3    55 Church Street, New York, NY 10013, United S... -74.010187  40.711114
4    Chambers Street, New York, NY 10007, United St... -74.008857  40.715575
..                                                 ...        ...        ...
495  40-47 22nd Street, New York, NY 11101, United ... -73.941053  40.753554
496  Queens Plaza North, New York, NY 11101, United... -73.937541  40.749944
497  29-15 Queens Plaza North, New York, NY 11101, ... -73.937292  40.750121
498  550 Avenue at Port Imperial, Weehawken, NJ 070... -74.011339  40.776993
499  29-21 41st Avenue, New York, NY 11101, United ... -73.936904  40.750229

[500 rows x 9 columns]

In [227]:
hotel_address = []
for feature in response_data['features']:
    # Use the get method to handle missing keys
    city = feature['properties'].get('city', None)
    postcode = feature['properties'].get('postcode', None)
    housenumber = feature['properties'].get('housenumber', None)
    street = feature['properties'].get('street', None)
    state = feature['properties'].get('state', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    hotel_address.append([city, postcode, housenumber, street, state,  address2, longitude, latitude])

# Create a DataFrame from the extracted data
df = pd.DataFrame(hotel_address, columns=["city", "postcode", "housenumber", "street", "state","address2","longitude","latitude"])

# Display the DataFrame
print(df)

# Save the DataFrame to a CSV file
df.to_csv('./SQL_Tables/hotel_address.csv', index=False)

          city postcode housenumber                   street       state  \
0     New York    10038         123            Nassau Street    New York
1     New York    10038          49               Ann Street    New York
2     New York    10013         182             Duane Street    New York
3     New York    10013          55            Church Street    New York
4     New York    10007        None          Chambers Street    New York
..         ...      ...         ...                      ...         ...
495   New York    11101       40-47              22nd Street    New York
496   New York    11101        None       Queens Plaza North    New York
497   New York    11101       29-15       Queens Plaza North    New York
498  Weehawken    07086         550  Avenue at Port Imperial  New Jersey
499   New York    11101       29-21              41st Avenue    New York

                                              address2  longitude   latitude
0    123 Nassau Street, New York, NY 10038, United ... -74.006936  40.711033
1    49 Ann Street, New York, NY 10038, United Stat... -74.006653  40.710415
2    182 Duane Street, New York, NY 10013, United S... -74.007339  40.715988
3    55 Church Street, New York, NY 10013, United S... -74.010187  40.711114
4    Chambers Street, New York, NY 10007, United St... -74.008857  40.715575
..                                                 ...        ...        ...
495  40-47 22nd Street, New York, NY 11101, United ... -73.941053  40.753554
496  Queens Plaza North, New York, NY 11101, United... -73.937541  40.749944
497  29-15 Queens Plaza North, New York, NY 11101, ... -73.937292  40.750121
498  550 Avenue at Port Imperial, Weehawken, NJ 070... -74.011339  40.776993
499  29-21 41st Avenue, New York, NY 11101, United ... -73.936904  40.750229

[500 rows x 8 columns]

In [228]:
counter = 0

for place in response_data["features"]:
    print(f"hotel {counter+1}:")
    properties = place.get("properties", {})
    name = properties.get("name")
    city = properties.get("city")
    address_line1 = properties.get("address_line1")
    address_line2 = properties.get("address_line2")

    if name is not None:
        print(name)
    if city is not None:
        print(city)
    if address_line1 is not None:
        print(address_line1)
    if address_line2 is not None:
        print(address_line2)
        
    print("*"*20)
    counter = counter + 1
    if counter == 5:
        break

hotel 1:
The Beekman, A Thompson Hotel
New York
The Beekman, A Thompson Hotel
123 Nassau Street, New York, NY 10038, United States of America
********************
hotel 2:
Aloft Manhattan Downtown
New York
Aloft Manhattan Downtown
49 Ann Street, New York, NY 10038, United States of America
********************
hotel 3:
Duane Street Hotel
New York
Duane Street Hotel
182 Duane Street, New York, NY 10013, United States of America
********************
hotel 4:
Millenium Hilton
New York
Millenium Hilton
55 Church Street, New York, NY 10013, United States of America
********************
hotel 5:
The Frederick Hotel
New York
The Frederick Hotel
Chambers Street, New York, NY 10007, United States of America
********************

In [229]:
# Set the geographical coordinates for NYC
latitude = 40.7128
longitude = -74.0060

# Set the parameters for the type of place
categories = "entertainment"

# Set the parameters for the type of search
bias = f"proximity:{longitude},{latitude}"


# set up a parameters dictionary
params = {
    "categories":categories,
    "limit":500,
    "bias":bias,
    "apiKey": geoapify_key    
}

# Set base URL
base_url = "https://api.geoapify.com/v2/places"
response=requests.get(base_url, params=params)
response_ent = response.json()

In [230]:
# Print the json (pretty printed)
#print(json.dumps(response_ent, indent=4, sort_keys=True))

In [231]:
response_ent['features'][0]['properties']

{'name': 'Ronald O. Perelman Performing Arts Center',
 'country': 'United States',
 'country_code': 'us',
 'state': 'New York',
 'county': 'New York County',
 'city': 'New York',
 'postcode': '10048',
 'district': 'Manhattan Community Board 1',
 'suburb': 'Manhattan',
 'street': 'Church Street',
 'housenumber': '58',
 'lon': -74.01229284380794,
 'lat': 40.71261975,
 'state_code': 'NY',
 'formatted': 'Ronald O. Perelman Performing Arts Center, 58 Church Street, New York, NY 10048, United States of America',
 'address_line1': 'Ronald O. Perelman Performing Arts Center',
 'address_line2': '58 Church Street, New York, NY 10048, United States of America',
 'categories': ['building',
  'building.entertainment',
  'entertainment',
  'entertainment.culture',
  'entertainment.culture.theatre',
  'wheelchair',
  'wheelchair.yes'],
 'details': ['details',
  'details.building',
  'details.contact',
  'details.facilities',
  'details.wiki_and_media'],
 'datasource': {'sourcename': 'openstreetmap',
  'attribution': '© OpenStreetMap contributors',
  'license': 'Open Database Licence',
  'url': 'https://www.openstreetmap.org/copyright',
  'raw': {'name': 'Ronald O. Perelman Performing Arts Center',
   'email': 'info@theperelman.org',
   'layer': 1,
   'height': 8.4,
   'osm_id': 278033600,
   'amenity': 'theatre',
   'website': 'https://www.theperelman.org/',
   'building': 'yes',
   'osm_type': 'w',
   'wikidata': 'Q18152059',
   'addr:city': 'New York',
   'wikipedia': 'en:Performing Arts Center (Manhattan)',
   'addr:state': 'NY',
   'wheelchair': 'yes',
   'addr:street': 'Church Street',
   'addr:postcode': 10048,
   'building:colour': '#5A5A5A',
   'building:levels': 3,
   'addr:housenumber': 58,
   'air_conditioning': 'yes',
   'building:material': 'stone'}},
 'distance': 503,
 'place_id': '5181110c66c98052c05945b40f23385b4440f00102f901c074921000000000920329526f6e616c64204f2e20506572656c6d616e20506572666f726d696e6720417274732043656e746572'}

In [232]:
data_ent = []

for feature in response_ent['features']:
    # Use the get method to handle missing keys
    entertainment = feature['properties'].get('name', None)
    city = feature['properties'].get('city', None)
    postcode = feature['properties'].get('postcode', None)
    housenumber = feature['properties'].get('housenumber', None)
    street = feature['properties'].get('street', None)
    state = feature['properties'].get('state', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    data_ent.append([entertainment, city, postcode, housenumber, street,state, address2,longitude,latitude ])

# Create a DataFrame from the extracted data
ent_df = pd.DataFrame(data_ent, columns=["entertainment", "city", "postcode","housenumber", "street", "state", "address2","longitude","latitude"])

# Display the DataFrame
print(ent_df)

# Save the DataFrame to a CSV file
ent_df.to_csv('./SQL_Tables/entertainment.csv', index=False)
ent_df.to_excel('entertainment2.xlsx', index=False)

                                 entertainment      city postcode housenumber  \
0    Ronald O. Perelman Performing Arts Center  New York    10048          58
1                           81 Leonard Gallery  New York    10013        None
2                       9/11 Memorial & Museum  New York    10007         180
3                                     Mmuseumm  New York    10013           4
4                               The Print Room  New York    10013          89
..                                         ...       ...      ...         ...
495                        Ed Sullivan Theater  New York    10019        None
496                          Ziegfeld Ballroom  New York    10019         141
497                              The Bandshell  New York    11215          62
498                           Transfer Gallery  New York    11211        1030
499                       Hootenanny Art House  New York    11215         428

                  street     state  \
0          Church Street  New York
1         Leonard Street  New York
2       Greenwich Street  New York
3        Cortlandt Alley  New York
4        Franklin Street  New York
..                   ...       ...
495             Broadway  New York
496     West 54th Street  New York
497           West Drive  New York
498  Metropolitan Avenue  New York
499          15th Street  New York

                                              address2  longitude   latitude
0    58 Church Street, New York, NY 10048, United S... -74.012293  40.712620
1    Leonard Street, New York, NY 10013, United Sta... -74.004901  40.717454
2    180 Greenwich Street, New York, NY 10007, Unit... -74.012670  40.711453
3    4 Cortlandt Alley, New York, NY 10013, United ... -74.002820  40.717366
4    89 Franklin Street, New York, NY 10013, United... -74.004907  40.717979
..                                                 ...        ...        ...
495  Broadway, New York, NY 10019, United States of... -73.982861  40.763792
496  141 West 54th Street, New York, NY 10019, Unit... -73.979833  40.763037
497  62 West Drive, New York, NY 11215, United Stat... -73.976721  40.663372
498  1030 Metropolitan Avenue, New York, NY 11211, ... -73.934980  40.714274
499  428 15th Street, New York, NY 11215, United St... -73.981958  40.661892

[500 rows x 9 columns]

In [234]:
ent_address = []

for feature in response_ent['features']:
    # Use the get method to handle missing keys
    city = feature['properties'].get('city', None)
    postcode = feature['properties'].get('postcode', None)
    housenumber = feature['properties'].get('housenumber', None)
    street = feature['properties'].get('street', None)
    state = feature['properties'].get('state', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    ent_address.append([city, postcode, housenumber, street,state, address2,longitude,latitude ])

# Create a DataFrame from the extracted data
ent_address = pd.DataFrame(ent_address, columns=["city", "postcode","housenumber", "street", "state", "address2","longitude", "latitude"])

# Display the DataFrame
print(ent_address)

# Save the DataFrame to a CSV file
ent_df.to_csv('./SQL_Tables/ent_address.csv', index=False)

         city postcode housenumber               street     state  \
0    New York    10048          58        Church Street  New York
1    New York    10013        None       Leonard Street  New York
2    New York    10007         180     Greenwich Street  New York
3    New York    10013           4      Cortlandt Alley  New York
4    New York    10013          89      Franklin Street  New York
..        ...      ...         ...                  ...       ...
495  New York    10019        None             Broadway  New York
496  New York    10019         141     West 54th Street  New York
497  New York    11215          62           West Drive  New York
498  New York    11211        1030  Metropolitan Avenue  New York
499  New York    11215         428          15th Street  New York

                                              address2  longitude   latitude
0    58 Church Street, New York, NY 10048, United S... -74.012293  40.712620
1    Leonard Street, New York, NY 10013, United Sta... -74.004901  40.717454
2    180 Greenwich Street, New York, NY 10007, Unit... -74.012670  40.711453
3    4 Cortlandt Alley, New York, NY 10013, United ... -74.002820  40.717366
4    89 Franklin Street, New York, NY 10013, United... -74.004907  40.717979
..                                                 ...        ...        ...
495  Broadway, New York, NY 10019, United States of... -73.982861  40.763792
496  141 West 54th Street, New York, NY 10019, Unit... -73.979833  40.763037
497  62 West Drive, New York, NY 11215, United Stat... -73.976721  40.663372
498  1030 Metropolitan Avenue, New York, NY 11211, ... -73.934980  40.714274
499  428 15th Street, New York, NY 11215, United St... -73.981958  40.661892

[500 rows x 8 columns]

In [235]:
# Set the geographical coordinates for NYC
latitude = 40.7128
longitude = -74.0060

# Set the parameters for the type of place
categories = "public_transport"

# Set the parameters for the type of search
bias = f"proximity:{longitude},{latitude}"


# set up a parameters dictionary
params = {
    "categories":categories,
    "limit":500,
    "bias":bias,
    "apiKey": geoapify_key    
}

# Set base URL
base_url = "https://api.geoapify.com/v2/places"
response=requests.get(base_url, params=params)
response_transport = response.json()

In [236]:
# Print the json (pretty printed)
#print(json.dumps(response_transport, indent=4, sort_keys=True))

In [237]:
response_transport['features'][0]['properties']

{'name': 'Brooklyn Bridge–City Hall',
 'country': 'United States',
 'country_code': 'us',
 'state': 'New York',
 'county': 'New York County',
 'city': 'New York',
 'postcode': '10000',
 'district': 'Manhattan Community Board 1',
 'suburb': 'Manhattan',
 'quarter': 'Lower Manhattan',
 'street': 'Centre Street',
 'lon': -74.0050702,
 'lat': 40.71235,
 'state_code': 'NY',
 'formatted': 'Brooklyn Bridge–City Hall, Centre Street, New York, NY 10000, United States of America',
 'address_line1': 'Brooklyn Bridge–City Hall',
 'address_line2': 'Centre Street, New York, NY 10000, United States of America',
 'categories': ['public_transport',
  'public_transport.subway',
  'wheelchair',
  'wheelchair.yes'],
 'details': ['details', 'details.facilities', 'details.wiki_and_media'],
 'datasource': {'sourcename': 'openstreetmap',
  'attribution': '© OpenStreetMap contributors',
  'license': 'Open Database Licence',
  'url': 'https://www.openstreetmap.org/copyright',
  'raw': {'name': 'Brooklyn Bridge–City Hall',
   'level': -2,
   'osm_id': 2024879489,
   'subway': 'yes',
   'network': 'NYC Subway',
   'railway': 'station',
   'station': 'subway',
   'operator': 'New York City Transit Authority',
   'osm_type': 'n',
   'wikidata': 'Q2612593',
   'wikipedia': 'en:Brooklyn Bridge–City Hall (IRT Lexington Avenue Line)',
   'wheelchair': 'yes',
   'railway:ref': 4111,
   'opening_hours': '24/7',
   'public_transport': 'station'}},
 'distance': 93,
 'place_id': '51c9cbf511538052c0595a6ce9482e5b4440f00103f9018135b1780000000092031b42726f6f6b6c796e20427269646765e28093436974792048616c6c'}

In [238]:
trans_address = []

for feature in response_transport['features']:
    # Use the get method to handle missing keys
    city = feature['properties'].get('city', None)
    postcode = feature['properties'].get('postcode', None)
    street = feature['properties'].get('street', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    trans_address.append([city, postcode, street, address2,longitude,latitude])

                  
# Create a DataFrame from the extracted data
trans_address = pd.DataFrame(trans_address, columns=["city", "postcode", "street", "address2","longitude","latitude"])

# Drop rows with missing values
trans_address.dropna(inplace=True)

# Display the DataFrame
print(trans_address)

# Save the DataFrame to a CSV file
trans_address.to_csv('./SQL_Tables/trans_address.csv', index=False)

            city postcode                      street  \
0       New York    10000               Centre Street
1       New York    10003                    Broadway
2       New York    10007                    Park Row
3       New York    10000                    Park Row
4       New York    10000             Chambers Street
..           ...      ...                         ...
495     New York    10011            West 18th Street
496  Jersey City    07304                Grand Street
497  Jersey City    07302  Christopher Columbus Drive
498     New York    11237             Flushing Avenue
499  Jersey City    07310             Mall Drive West

                                              address2  longitude   latitude
0    Centre Street, New York, NY 10000, United Stat... -74.005070  40.712350
1    Broadway, New York, NY 10003, United States of... -74.006978  40.713282
2    Park Row, New York, NY 10007, United States of... -74.006606  40.711978
3    Park Row, New York, NY 10000, United States of... -74.006160  40.711841
4    Chambers Street, New York, NY 10000, United St... -74.005966  40.713913
..                                                 ...        ...        ...
495  West 18th Street, New York, NY 10011, United S... -73.994969  40.739694
496  Grand Street, Jersey City, NJ 07304, United St... -74.042869  40.715815
497  Christopher Columbus Drive, Jersey City, NJ 07... -74.042100  40.719258
498  Flushing Avenue, New York, NY 11237, United St... -73.974372  40.697916
499  Mall Drive West, Jersey City, NJ 07310, United... -74.038765  40.726241

[499 rows x 6 columns]

In [239]:
data_trans = []

for feature in response_transport['features']:
    # Use the get method to handle missing keys
    tranportation = feature['properties'].get('name', None)
    city = feature['properties'].get('city', 'N/A')
    postcode = feature['properties'].get('postcode', None)
    street = feature['properties'].get('street', None)
    state = feature['properties'].get('state', None)
    address2 = feature['properties'].get('address_line2', None)
    longitude= feature['properties'].get('lon', None)
    latitude= feature['properties'].get('lat', None)
    data_trans.append([tranportation, city, postcode, street,state, address2,longitude,latitude])

# Create a DataFrame from the extracted data
trans_df = pd.DataFrame(data_trans, columns=["tranportation", "city", "postcode","street", "state", "address2","longitude","latitude"])

# Display the DataFrame
print(trans_df)

# Save the DataFrame to a CSV file
trans_df.to_csv('./SQL_Tables/transport.csv', index=False)
trans_df.to_excel('transport2.xlsx', index=False)

                                  tranportation         city postcode  \
0                     Brooklyn Bridge–City Hall     New York    10000
1                                     City Hall     New York    10003
2                      Park Row & Spruce Street     New York    10007
3                      Park Row & Spruce Street     New York    10000
4                    Chambers Street & Broadway     New York    10000
..                                          ...          ...      ...
495               6th Avenue & West 18th Street     New York    10011
496  Grand Street at Luis Munoz Marin Boulevard  Jersey City    07304
497                                Grove Street  Jersey City    07302
498         Flushing Avenue & Cumberland Street     New York    11237
499                         Newport Centre Mall  Jersey City    07310

                         street       state  \
0                 Centre Street    New York
1                      Broadway    New York
2                      Park Row    New York
3                      Park Row    New York
4               Chambers Street    New York
..                          ...         ...
495            West 18th Street    New York
496                Grand Street  New Jersey
497  Christopher Columbus Drive  New Jersey
498             Flushing Avenue    New York
499             Mall Drive West  New Jersey

                                              address2  longitude   latitude
0    Centre Street, New York, NY 10000, United Stat... -74.005070  40.712350
1    Broadway, New York, NY 10003, United States of... -74.006978  40.713282
2    Park Row, New York, NY 10007, United States of... -74.006606  40.711978
3    Park Row, New York, NY 10000, United States of... -74.006160  40.711841
4    Chambers Street, New York, NY 10000, United St... -74.005966  40.713913
..                                                 ...        ...        ...
495  West 18th Street, New York, NY 10011, United S... -73.994969  40.739694
496  Grand Street, Jersey City, NJ 07304, United St... -74.042869  40.715815
497  Christopher Columbus Drive, Jersey City, NJ 07... -74.042100  40.719258
498  Flushing Avenue, New York, NY 11237, United St... -73.974372  40.697916
499  Mall Drive West, Jersey City, NJ 07310, United... -74.038765  40.726241

[500 rows x 8 columns]

In [240]:
# Read CSV file and convert to DataFrame
hotel_prices_df = pd.read_csv('resources/hotelprices.csv')

# Convert date columns to the desired format
hotel_prices_df['Check-In Date'] = pd.to_datetime(hotel_prices_df['Check-In Date']).dt.strftime('%m/%d/%Y')
hotel_prices_df['Check-Out Date'] = pd.to_datetime(hotel_prices_df['Check-Out Date']).dt.strftime('%m/%d/%Y')

# Convert DataFrame to JSON
json_data = hotel_prices_df.to_json(orient='records')

# Save JSON data to a JavaScript file
with open('hotelprices.js', 'w') as js_file:
   js_file.write("const_data = ")
   js_file.write(json_data)

In [241]:
# Read CSV file and convert to DataFrame
hotel_rating_df = pd.read_csv('resources/hotelrating.csv')

json_data = hotel_rating_df.to_json(orient='records')

# Save JSON data to a JavaScript file
with open('hotelrating.js', 'w') as js_file:
   js_file.write("rconst_data = ")
   js_file.write(json_data)

In [242]:
# Read CSV file and convert to DataFrame
master_df = pd.read_csv('master_hotel_data.csv')

json_data = master_df.to_json(orient='records')

# Save JSON data to a JavaScript file
with open('master.js', 'w') as js_file:
     js_file.write(json_data)

In [243]:
# Read the Data file with the pandas library
avgp_df = pd.read_csv("./SQL_Tables/avg_price.csv")
print(avgp_df.columns)

Index(['Hotel Name', 'Advertised Price', 'Total Price'], dtype='object')

In [244]:
hotelg_df = pd.read_csv("./SQL_Tables/hotels.csv")
print(hotelg_df.columns)

Index(['Hotel Name', 'city', 'postcode', 'housenumber', 'street', 'state',
       'address2', 'longitude', 'latitude'],
      dtype='object')

In [245]:
 # Merge the two DataFrames together based on the Year and State they share
avg_hotel_merged_df = pd.merge(avgp_df, hotelg_df, left_on="Hotel Name", right_on="Hotel Name")
avg_hotel_merged_df.head(2)

,Hotel Name,Advertised Price,Total Price,city,postcode,housenumber,street,state,address2,longitude,latitude
0,1 Hotel Brooklyn Bridge,640.58,672.54,New York,11201,NaN,Furman Street,New York,"Furman Street, New York, NY 11201, United Stat...",-73.995523,40.702327
1,1 Hotel Central Park,586.54,575.08,New York,10019,1414,6th Avenue,New York,"1414 6th Avenue, New York, NY 10019, United St...",-73.976507,40.764709

In [246]:
merged_h_avg_df=avg_hotel_merged_df[["Hotel Name", "address2", "housenumber","street","city","postcode","Advertised Price", "Total Price","longitude","latitude" ]]
merged_h_avg_df.head(2)

,Hotel Name,address2,housenumber,street,city,postcode,Advertised Price,Total Price,longitude,latitude
0,1 Hotel Brooklyn Bridge,"Furman Street, New York, NY 11201, United Stat...",NaN,Furman Street,New York,11201,640.58,672.54,-73.995523,40.702327
1,1 Hotel Central Park,"1414 6th Avenue, New York, NY 10019, United St...",1414,6th Avenue,New York,10019,586.54,575.08,-73.976507,40.764709

In [247]:
 # Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_df.to_csv("./SQL_Tables/merged_h_avg_df.csv", index=False, header=True)

In [248]:
# Read the Data file with the pandas library
hrating_df = pd.read_csv("./SQL_Tables/hotelrating.csv")
print(hrating_df.columns)

Index(['Hotel Name', 'Hotel Rating'], dtype='object')

In [249]:
 # Merge the two DataFrames together based on the Year and State they share
avg_h_rat_merged_df = pd.merge(merged_h_avg_df, hrating_df, left_on="Hotel Name", right_on="Hotel Name")
avg_h_rat_merged_df.head(2)

,Hotel Name,address2,housenumber,street,city,postcode,Advertised Price,Total Price,longitude,latitude,Hotel Rating
0,1 Hotel Central Park,"1414 6th Avenue, New York, NY 10019, United St...",1414,6th Avenue,New York,10019,586.54,575.08,-73.976507,40.764709,"9.0 out of 10 Wonderful (1,000 reviews)"
1,Aliz Hotel Times Square,"310 West 40th Street, New York, NY 10018, Unit...",310,West 40th Street,New York,10018,329.69,416.18,-73.991686,40.756118,"7.8 out of 10 Good (1,181 reviews)"

In [250]:
merged_h_avg_rat_df=avg_h_rat_merged_df[["Hotel Name", "address2", "housenumber","street","city","postcode","Advertised Price", "Total Price","Hotel Rating","longitude", "latitude" ]]
merged_h_avg_rat_df.head(2)

,Hotel Name,address2,housenumber,street,city,postcode,Advertised Price,Total Price,Hotel Rating,longitude,latitude
0,1 Hotel Central Park,"1414 6th Avenue, New York, NY 10019, United St...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",-73.976507,40.764709
1,Aliz Hotel Times Square,"310 West 40th Street, New York, NY 10018, Unit...",310,West 40th Street,New York,10018,329.69,416.18,"7.8 out of 10 Good (1,181 reviews)",-73.991686,40.756118

In [251]:
 # Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_rat_df.to_csv("./SQL_Tables/merged_h_avg_rat_df.csv", index=False, header=True)

In [252]:
# Read the Data file with the pandas library
hdist_df = pd.read_csv("./SQL_Tables/distance_from_NYC.csv")
print(hdist_df.columns)

Index(['Hotel Name', 'Distance from NYC'], dtype='object')

In [253]:
 # Merge the two DataFrames together based on the Year and State they share
avg_h_rat_dist_merged_df = pd.merge(merged_h_avg_rat_df, hdist_df, left_on="Hotel Name", right_on="Hotel Name")
print(avg_h_rat_dist_merged_df.columns)

Index(['Hotel Name', 'address2', 'housenumber', 'street', 'city', 'postcode',
       'Advertised Price', 'Total Price', 'Hotel Rating', 'longitude',
       'latitude', 'Distance from NYC'],
      dtype='object')

In [254]:
merged_h_avg_rat_dist_df = avg_h_rat_dist_merged_df[["Hotel Name", "address2", "housenumber", "street", "city", "postcode", "Advertised Price", "Total Price", "Hotel Rating", "Distance from NYC","longitude", "latitude"]]
merged_h_avg_rat_dist_df.head(2)

,Hotel Name,address2,housenumber,street,city,postcode,Advertised Price,Total Price,Hotel Rating,Distance from NYC,longitude,latitude
0,1 Hotel Central Park,"1414 6th Avenue, New York, NY 10019, United St...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709
1,Aliz Hotel Times Square,"310 West 40th Street, New York, NY 10018, Unit...",310,West 40th Street,New York,10018,329.69,416.18,"7.8 out of 10 Good (1,181 reviews)",New York,-73.991686,40.756118

In [255]:
 # Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_rat_dist_df.to_csv("./SQL_Tables/merged_h_avg_rat_dist_df.csv", index=False, header=True)

In [256]:
# Read the Data file with the pandas library
transp_df = pd.read_csv("./SQL_Tables/transport.csv")
print(transp_df.columns)

Index(['tranportation', 'city', 'postcode', 'street', 'state', 'address2',
       'longitude', 'latitude'],
      dtype='object')

In [257]:
 # Merge the two DataFrames together based on the Year and State they share
avg_h_rat_dist_transp_merged_df = pd.merge(merged_h_avg_rat_dist_df, transp_df, left_on="postcode", right_on="postcode")
print(avg_h_rat_dist_transp_merged_df.columns)

Index(['Hotel Name', 'address2_x', 'housenumber', 'street_x', 'city_x',
       'postcode', 'Advertised Price', 'Total Price', 'Hotel Rating',
       'Distance from NYC', 'longitude_x', 'latitude_x', 'tranportation',
       'city_y', 'street_y', 'state', 'address2_y', 'longitude_y',
       'latitude_y'],
      dtype='object')

In [258]:
init_h_avg_rat_dist_transp_df = avg_h_rat_dist_transp_merged_df[["Hotel Name", "address2_y", "housenumber", "street_y", "city_y", "postcode", "Advertised Price", "Total Price", "Hotel Rating", "Distance from NYC", "longitude_y", "latitude_y","address2_x","street_x","longitude_x", "latitude_x" ]]
init_h_avg_rat_dist_transp_df.head(2)

,Hotel Name,address2_y,housenumber,street_y,city_y,postcode,Advertised Price,Total Price,Hotel Rating,Distance from NYC,longitude_y,latitude_y,address2_x,street_x,longitude_x,latitude_x
0,1 Hotel Central Park,"6th Avenue, New York, NY 10019, United States ...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-74.005094,40.721125,"1414 6th Avenue, New York, NY 10019, United St...",6th Avenue,-73.976507,40.764709
1,1 Hotel Central Park,"6th Avenue, New York, NY 10019, United States ...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-74.005097,40.722482,"1414 6th Avenue, New York, NY 10019, United St...",6th Avenue,-73.976507,40.764709

In [259]:
rename_h_avg_rat_dist_transp_df=init_h_avg_rat_dist_transp_df.rename(columns={"address2_x": "Hotel Full Address",
                                                                     "street_x" : "Hotel Street",
                                                                      "city_y": "City",
                                                                       "housenumber": "Hotel Number",  
                                                                      "longitude_x":"Hotel Longitude",
                                                                      "latitude_x": "Hotel Latitude",
                                                                      "address2_y": "Transportation address",
                                                                      "longitude_y": "Transportation Longitude",
                                                                      "latitude_y": "Transportation Latitude"                                                                      
                                                                             }) 
                                                                      
rename_h_avg_rat_dist_transp_df.head(2)

,Hotel Name,Transportation address,Hotel Number,street_y,City,postcode,Advertised Price,Total Price,Hotel Rating,Distance from NYC,Transportation Longitude,Transportation Latitude,Hotel Full Address,Hotel Street,Hotel Longitude,Hotel Latitude
0,1 Hotel Central Park,"6th Avenue, New York, NY 10019, United States ...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-74.005094,40.721125,"1414 6th Avenue, New York, NY 10019, United St...",6th Avenue,-73.976507,40.764709
1,1 Hotel Central Park,"6th Avenue, New York, NY 10019, United States ...",1414,6th Avenue,New York,10019,586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-74.005097,40.722482,"1414 6th Avenue, New York, NY 10019, United St...",6th Avenue,-73.976507,40.764709

In [260]:
merged_h_avg_rat_dist_transp_df = rename_h_avg_rat_dist_transp_df[["Hotel Name", "Hotel Number", "Hotel Street", "City", "postcode", "Hotel Full Address","Advertised Price", "Total Price", "Hotel Rating", "Distance from NYC", "Hotel Longitude", "Hotel Latitude","Transportation Longitude","Transportation Latitude"]]
merged_h_avg_rat_dist_transp_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Advertised Price,Total Price,Hotel Rating,Distance from NYC,Hotel Longitude,Hotel Latitude,Transportation Longitude,Transportation Latitude
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005094,40.721125
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005097,40.722482

In [261]:
# Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_rat_dist_transp_df.to_csv("./SQL_Tables/merged_h_avg_rat_dist_transp_df.csv", index=False, header=True)

In [262]:
# Read the Data file with the pandas library
Ent_df = pd.read_csv("./SQL_Tables/entertainment.csv")
print(Ent_df.columns)

Index(['entertainment', 'city', 'postcode', 'housenumber', 'street', 'state',
       'address2', 'longitude', 'latitude'],
      dtype='object')

In [263]:
 # Merge the two DataFrames together 
avg_h_rat_dist_transp_ent_merged_df = pd.merge(merged_h_avg_rat_dist_transp_df, Ent_df, left_on="postcode", right_on="postcode")
print(avg_h_rat_dist_transp_ent_merged_df.columns)

Index(['Hotel Name', 'Hotel Number', 'Hotel Street', 'City', 'postcode',
       'Hotel Full Address', 'Advertised Price', 'Total Price', 'Hotel Rating',
       'Distance from NYC', 'Hotel Longitude', 'Hotel Latitude',
       'Transportation Longitude', 'Transportation Latitude', 'entertainment',
       'city', 'housenumber', 'street', 'state', 'address2', 'longitude',
       'latitude'],
      dtype='object')

In [264]:
avg_h_rat_dist_transp_ent_merged_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Advertised Price,Total Price,Hotel Rating,Distance from NYC,...,Transportation Longitude,Transportation Latitude,entertainment,city,housenumber,street,state,address2,longitude,latitude
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,-74.005094,40.721125,Putting Green,New York,NaN,6th Avenue,New York,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,-74.005094,40.721125,PlayStation Theater,New York,1515,Broadway,New York,"1515 Broadway, New York, NY 10019, United Stat...",-73.986442,40.757645

In [265]:
rename_avg_h_rat_dist_transp_ent_merged_df=avg_h_rat_dist_transp_ent_merged_df.rename(columns={"address2": "Entertainment Full Address",
                                                                      "entertainment": "Entertainment",
                                                                      "longitude":"Entertainment Longitude",
                                                                      "latitude": "Entertainment Latitude",
                                                                                                                                          
                                                                             }) 
                                                                      
rename_avg_h_rat_dist_transp_ent_merged_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Advertised Price,Total Price,Hotel Rating,Distance from NYC,...,Transportation Longitude,Transportation Latitude,Entertainment,city,housenumber,street,state,Entertainment Full Address,Entertainment Longitude,Entertainment Latitude
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,-74.005094,40.721125,Putting Green,New York,NaN,6th Avenue,New York,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,-74.005094,40.721125,PlayStation Theater,New York,1515,Broadway,New York,"1515 Broadway, New York, NY 10019, United Stat...",-73.986442,40.757645

In [266]:
merged_h_avg_rat_dist_transp_ent_df = rename_avg_h_rat_dist_transp_ent_merged_df[["Hotel Name", "Hotel Number", "Hotel Street", "City", "postcode", "Hotel Full Address","Advertised Price", "Total Price", "Hotel Rating", "Distance from NYC", "Hotel Longitude", "Hotel Latitude","Transportation Longitude","Transportation Latitude", "Entertainment","Entertainment Full Address","Entertainment Longitude","Entertainment Latitude"]]
merged_h_avg_rat_dist_transp_ent_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Advertised Price,Total Price,Hotel Rating,Distance from NYC,Hotel Longitude,Hotel Latitude,Transportation Longitude,Transportation Latitude,Entertainment,Entertainment Full Address,Entertainment Longitude,Entertainment Latitude
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005094,40.721125,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005094,40.721125,PlayStation Theater,"1515 Broadway, New York, NY 10019, United Stat...",-73.986442,40.757645

In [267]:
# Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_rat_dist_transp_ent_df.to_csv("./SQL_Tables/merged_h_avg_rat_dist_transp_ent_df.csv", index=False, header=True)

In [268]:
# Read the Data file with the pandas library
hprice_df = pd.read_csv("./SQL_Tables/hotelprices.csv")
print(hprice_df.columns)

Index(['Check-In Date', 'Check-Out Date', 'Hotel Name', 'Advertised Price',
       'Total Price', 'Advertised Price ($)', 'Total Price ($)'],
      dtype='object')

In [269]:
 # Merge the two DataFrames together 
avg_h_rat_dist_transp_ent_price_merged_df = pd.merge(merged_h_avg_rat_dist_transp_ent_df, hprice_df, left_on="Hotel Name", right_on="Hotel Name")
print(avg_h_rat_dist_transp_ent_merged_df.columns)

Index(['Hotel Name', 'Hotel Number', 'Hotel Street', 'City', 'postcode',
       'Hotel Full Address', 'Advertised Price', 'Total Price', 'Hotel Rating',
       'Distance from NYC', 'Hotel Longitude', 'Hotel Latitude',
       'Transportation Longitude', 'Transportation Latitude', 'entertainment',
       'city', 'housenumber', 'street', 'state', 'address2', 'longitude',
       'latitude'],
      dtype='object')

In [270]:
avg_h_rat_dist_transp_ent_price_merged_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Advertised Price_x,Total Price_x,Hotel Rating,Distance from NYC,...,Entertainment,Entertainment Full Address,Entertainment Longitude,Entertainment Latitude,Check-In Date,Check-Out Date,Advertised Price_y,Total Price_y,Advertised Price ($),Total Price ($)
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819,6/2/2023,6/4/2023,The price is $479,$605 total,$479,$605
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819,6/9/2023,6/11/2023,The price is $499,$628 total,$499,$628

In [271]:
rename_avg_h_rat_dist_transp_ent_price_merged_df=avg_h_rat_dist_transp_ent_price_merged_df.rename(columns=
                                                                    {"Advertised Price_x": "Avg. Advertised Price",
                                                                      "Total Price_x": "Avg. Total Price",
                                                                         })                                                                                                                     
                                                                             
                                                                      
rename_avg_h_rat_dist_transp_ent_price_merged_df.head(2)

,Hotel Name,Hotel Number,Hotel Street,City,postcode,Hotel Full Address,Avg. Advertised Price,Avg. Total Price,Hotel Rating,Distance from NYC,...,Entertainment,Entertainment Full Address,Entertainment Longitude,Entertainment Latitude,Check-In Date,Check-Out Date,Advertised Price_y,Total Price_y,Advertised Price ($),Total Price ($)
0,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819,6/2/2023,6/4/2023,The price is $479,$605 total,$479,$605
1,1 Hotel Central Park,1414,6th Avenue,New York,10019,"1414 6th Avenue, New York, NY 10019, United St...",586.54,575.08,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,...,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819,6/9/2023,6/11/2023,The price is $499,$628 total,$499,$628

In [272]:
merged_h_avg_rat_dist_transp_ent_price_df = rename_avg_h_rat_dist_transp_ent_price_merged_df[["Hotel Name", "Check-In Date","Check-Out Date", "Advertised Price ($)","Avg. Advertised Price", "Total Price ($)", "Avg. Total Price","Hotel Number", "Hotel Street", "City", "postcode", "Hotel Full Address",  "Hotel Rating", "Distance from NYC", "Hotel Longitude", "Hotel Latitude","Transportation Longitude","Transportation Latitude", "Entertainment","Entertainment Full Address","Entertainment Longitude","Entertainment Latitude"]]
merged_h_avg_rat_dist_transp_ent_price_df.head(2)

,Hotel Name,Check-In Date,Check-Out Date,Advertised Price ($),Avg. Advertised Price,Total Price ($),Avg. Total Price,Hotel Number,Hotel Street,City,...,Hotel Rating,Distance from NYC,Hotel Longitude,Hotel Latitude,Transportation Longitude,Transportation Latitude,Entertainment,Entertainment Full Address,Entertainment Longitude,Entertainment Latitude
0,1 Hotel Central Park,6/2/2023,6/4/2023,$479,586.54,$605,575.08,1414,6th Avenue,New York,...,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005094,40.721125,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819
1,1 Hotel Central Park,6/9/2023,6/11/2023,$499,586.54,$628,575.08,1414,6th Avenue,New York,...,"9.0 out of 10 Wonderful (1,000 reviews)",Central New York City,-73.976507,40.764709,-74.005094,40.721125,Putting Green,"6th Avenue, New York, NY 10019, United States ...",-73.984479,40.753819

In [273]:
# Export file as a CSV, without the Pandas index, but with the header
merged_h_avg_rat_dist_transp_ent_price_df.to_csv("./SQL_Tables/merged_h_avg_rat_dist_transp_ent_price_df.csv", index=False, header=True)